include common/_mixins
doctype html
html(lang="ru")
	include common/_head
	body
		include common/_preloader

		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->
		include common/_gmapApi
		include common/_sprites
		

		+parallax("vertical")
		+main-menu(3)

		header.header.table-box
			.table-box__row
				+header-top
			.table-box__row.table-box__row_fullheight
				.table-box__vertical-aligned
					.site-author
						+avatar("avatar_sq.jpg", "Frontend. Wordpress. Разработка сайтов под ключ.", "Лембинен Николай")
						p.site-author__name Лембинен Николай
						p.site-author__description Еще одна страничка

					svg.header__svg-bg
						use(xlink:href="#icon-portfolio_header")
					button.go-down.fa.fa-chevron-down(data-link=".about-me")

					svg.header__svg-corner.header__svg-corner_left(preserveAspectRatio="none" viewBox="0 0 1000 400")
						use(xlink:href="#icon-about_bg_left")
					svg.header__svg-corner.header__svg-corner_right(preserveAspectRatio="none" viewBox="0 0 1000 400")
						use(xlink:href="#icon-about_bg_right")



		section.about-me
			.about-me__stretcher.about-me__stretcher_dark
				.about-me__stretcher.about-me__stretcher_light
					.about-me__bio.bio
						+svg-heading("Обо мне", "icon-about_header")
						.bio__main-image
							img(src="/assets/img/avatar_main.jpg", alt="Лембинен Николай", title="Разработка сайтов под ключ. Frontend. Wordpress.")
						h3.bio__heading.sidestripes Кто я?
						.bio__about
							p.
								26 лет - ума нет. Родился и вырос в городе Петрозаводске.
								Программист, верстальщик, барабанщик, "в машине подвеску перебери" - человек оркестр.
							p.
								С 2007 года на добровольных основах принимал участие в военных баталиях с ie6, MySpace 1.0, табличной версткой, круглыми уголками и тем в какой последовательности писать css хаки. Профессионально стал web-разработчиком 4 года назад. На данный момент занимаюсь созданием и поддержкой сайтов на Wordpress CMS, а также небольших лендингов.
							p.
								Увлекаюсь музыкой, играю на ударных. Возвращал 2007й с Dies Alliensis, улетал в космос к астронавтам с Escape The Void, поднимал indie сцену с колен вместе с Deadly Vipers и Ilya Ravendark (нынe Prince Champagne), сейчас несу в массы любовь, тепло и ламповость вместе с Calmpole - интересующимся путь заказан <a href="https://www.youtube.com/user/HomAfromPTZ/videos">сюда</a>

					.about-me__skills.skills
						h3.skills__heading.sidestripes Чем я могу быть вам полезен
						.skills__descr
							p.
								Двумя руками и двумя ногами, если речь идет о музыке. А если нужно что-то попроще, то могу сверстать сайт на коленке. Клиент вправе выбрать - на левой или на правой... На правой обычно лучше получается.
							p.
								Предпочитаю frontend. Верстка, дизайн (на сколько хватит фантазии), анимация, адаптивность и прочее.
							p.
								Backend не жалую, исключение - Wordpress CMS. Если нужна поддержка MVC фреймворков, то это не ко мне. Однако, если нужна простенькая админка для сайта или небольшая логика, то можем обсудить.

						.skills__group
							.group__title Frontend
							+pie_chart("Html 5 & CSS 3",99)
							+pie_chart("Js & Jquery",60)
							+pie_chart("Less & Sass",70)
							+pie_chart("Jade",80)
						.skills__group
							.group__title Backend
							+pie_chart("Php",66)
							+pie_chart("MySql",60)
							+pie_chart("Node.js & npm",10)
							+pie_chart("Mongo.db",0)
						.skills__group
							.group__title Workflow
							+pie_chart("Git",68)
							+pie_chart("Gulp",80)
							+pie_chart("Bower",90)
							+pie_chart("Ssh",20)
						.skills__group
							.group__title CMS
							+pie_chart("Wordpress",90)
							+pie_chart("Joomla",30)
							+pie_chart("Борода и усы",10)


		section.contacts.last-section
			.contacts__map
				#map_wrapper
			.contacts__info
				.contacts__heading
					h3.sidestripes Контакты
				ul.contacts__links
					li.link-wrapper
						a.link(href="skype:homa_from_ptz?call")
							i.fa.fa-skype
							| homa_from_ptz
					li.link-wrapper
						a.link(href="mailto:homawebdev@gmail.com")
							i.fa.fa-envelope
							| homawebdev@gmail.com
					li.link-wrapper
						a.link(href="skype:+79114108115?call")
							i.fa.fa-phone
							| +7 (911) 410-81-15
					li.link-wrapper
						a.link(href="https://goo.gl/maps/9igxQvGhox72" target="_blank")
							i.fa.fa-map-marker
							| г. Петрозаводск, Республика Карелия

		include common/_footer
