include common/_mixins
doctype html
html
	include common/_head
	body
		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->

		include common/_sprites
		.preloader

		include common/_parallax
		+main-menu(3)

		header.header.table-box.fullheight.fullheight_mih
			.table-box__top
				+header-top
			.table-box__middle
				.vertical-aligned
					.site-author
						+avatar("me.jpg", "Frontend. Wordpress. Разработка сайтов под ключ.", "Лембинен Николай")
						p.site-author__name Лембинен Николай
						p.site-author__desctiption Еще одна страничка

					svg.header__svg-bg
						use(xlink:href="#icon-portfolio_header")
					button.go-down.fa.fa-chevron-down(data-link=".about-me")

					svg(preserveAspectRatio="none" viewBox="0 0 1000 360").header__svg-corner.header__svg-corner_left
						use(xlink:href="#icon-about_bg_left")
					svg(preserveAspectRatio="none" viewBox="0 0 1000 360").header__svg-corner.header__svg-corner_right
						use(xlink:href="#icon-about_bg_right")



		section.about-me
			.about-me__bio
				+svg-heading("Обо мне", "icon-about_header")
				.bio
					.bio__main-image
						img(src="/assets/img/avatar_main.jpg", alt="Лембинен Николай", title="Разработка сайтов под ключ. Frontend. Wordpress.")
					h3.bio__heading.sidestripes Кто я?
					.bio__about
						p.
							Муууув бич! Гераут де вей, гераут де вей бич гераут де вей
							Муууув бич! Гераут де вей, гераут де вей бич гераут де вей

			.about-me__skills
				.skills
					h3.skills__heading.sidestripes Чем я могу быть вам полезен
					.skills__descr Не бородат, не свитерат, АТ-АТ Не бородат, не свитерат, АТ-АТ Не бородат, не свитерат, АТ-АТ Не бородат, не свитерат, АТ-АТ
					.skills__group
						.group__title Frontend
						.group__item
						.group__item
					.skills__group
						.group__title Backend
						.group__item
						.group__item



		section.contacts.last-section
			.contacts__map
				#map_wrapper
			.contacts__info
				.contacts__heading
					h3.sidestripes Контакты
				ul.contacts__links
					li.link-wrapper
						a.link(href="#")
							i.fa.fa-skype
							| скайп
					li.link-wrapper
						a.link(href="#")
							i.fa.fa-envelope
							|почта
					li.link-wrapper
						a.link(href="#")
							i.fa.fa-phone
							| телефон
					li.link-wrapper
						a.link(href="#")
							i.fa.fa-map-marker
							| адрес

		include common/_footer
