include common/_mixins
doctype html
html
	include common/_head
	body
		include common/_preloader

		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->

		include common/_sprites

		+parallax("vertical")
		+main-menu(2)

		header.header.table-box.fullheight.fullheight_mih
			.table-box__top
				+header-top
			.table-box__middle
				.vertical-aligned
					.site-author.site-author_blog
						+avatar("me.jpg", "Frontend. Wordpress. Разработка сайтов под ключ.", "Лембинен Николай")
						+svg-heading("Блог", "icon-blog_header")
						p.site-author__description Статьи


					button.go-down.fa.fa-chevron-down(data-link=".blog")

					svg(preserveAspectRatio="none" viewBox="0 0 1000 400").header__svg-corner.header__svg-corner_left.header__svg-corner_blog
						use(xlink:href="#icon-about_bg_left")
					svg(preserveAspectRatio="none" viewBox="0 0 1000 400").header__svg-corner.header__svg-corner_right.header__svg-corner_blog
						use(xlink:href="#icon-about_bg_right")


		.blog.last-section
			aside.blog-navigation
				button.blog-navigation__toggle
				nav.blog-navigation__wrapper
					ul.blog-navigation__links-list
						li.links-list__item
							a.links-list__link.active(href="#google") Никаких распродаж! В Госдуме приняли закон о «налоге на Google»
						li.links-list__item
							a.links-list__link(href="#alph") «Актер, которого никто не знал» — умер Альф
						li.links-list__item
							a.links-list__link(href="#elon") «Мы уже киборги», — заявил Илон Маск на конференции Code Conference 2016

			section.blog-content
				.article#google
					h3.article__title Никаких распродаж! В Госдуме приняли закон о «налоге на Google»
					p.article__date 15 июня 2016
					.article__content.
						<p>15 июня депутаты Государственной думы России приняли закон о «налоге на Google», который вводит 18% взыскания для западных IT-компаний. Таким образом, дополнительной стоимостью будут облагаться иностранные конторы, продающие цифровой контент.</p>


						<p>1 января 2017 года начнет действовать закон, облагающий добавленной стоимостью электронные товары, продающиеся на территории России. Он был принят 15 июня в окончательном чтении Госдумы. Теперь иностранным компаниям нужно зарегистрироваться в налоговой службе — сделать это можно уже сейчас подав заявление.</p>

						<p>НДС коснется цифровых прав на использование игр, программ, приложений, услуг провайдера, регистрации доменов и прочего. Больше никаких скидок и распродаж от Steam и Origin.</p>

						<img src="/assets/img/articles/fpalm.gif">

						<p>Документ внесли на рассмотрение в декабре депутаты из «Справедливой России» и ЛДПР. Вначале была идея облагать налогом еще и российских продавцов, но позже решили оставить 18% налог только для западных представителей. Тогда говорилось о том, что «налог на Google» принесет государству дополнительные 10 миллиардов рублей. В планах запустить такую же добавочную стоимость к зарубежным интернет-магазинам.</p>

				.article#alph
					h3.article__title «Актер, которого никто не знал» — умер Альф
					p.article__date 14 июня 2016
					.article__content.
						<p>В киноиндустрии работает огромное количество людей, чьи имена теряются в конце длинных титров. Вы едва ли знаете имена большинства каскадеров (с одним из них мы уже знакомили), дублеров, звукорежиссеров и прочих важных людей. Случается, что публика не знает даже актера, исполнившего главную роль в популярном телешоу. Что же, сегодня мы попытаемся это исправить.</p>
						
						<img src="/assets/img/articles/alph.gif">

						<p>Как сообщает TMZ, 13 июня в возрасте 76 лет скончался сыгравший Альфа американский актер-карлик Михай Месарош. Неделю назад актер был случайно найден у себя дома без сознания. В госпиталь его доставили в состоянии комы, из которой он так и не вышел.</p>

						<p>Михай родился 20 сентября 1939 года в Венгрии, в маленькой деревне Пели, недалеко от Будапешта. После окончания государственной школы циркового искусства, освоив несколько специальностей, в возрасте 14 лет начал выступать в Национальном цирке Венгрии. В 1973 году на одном из выступлений его заметили представители Ringling Bros. and Barnum & Bailey Circus — одного из крупнейших американских цирков.</p>

						<p>В его составе Михай выступал на цирковых аренах США и Канады. Шоу посетили многие известные личности, включая двух президентов США Джимми Картера и Рональда Рейгана.</p>


						<p>Чаще всего артист выступал в качестве дрессировщика пуделей, которые, кстати, нередко оказывались выше него ростом. Самого Михая вполне устраивала такая цирковая жизнь, но впереди его ждала карьера киноактера.</p>

						<p>В 1986 году Михая Месароша пригласили на съемки ситкома «Альф» от телеканала NBC. Актер-карлик исполнил роль смешного инопланетянина во всех моментах, где персонаж появлялся во весь рост. Казалось бы, столь популярное телешоу должно было принести Михаю настоящую славу, но во время съемок чаще всего использовалась лишь верхняя часть Альфа, которой управляли создатель шоу Пол Фаско и несколько ассистентов. В результате, в титрах имя Михая Месероша стоит в списке тех самых ассистентов-кукольников.</p>

						<p>На «Альфе» его работа в киноиндустрии не закончилась. Вы могли видеть его в таких фильмах как «Музей восковых фигур» (1988), «Чернокнижкик 2: Армагеддон» (1993) и «Уроды» (1993). Последней его ролью был Лепрекон в короткометражном фильме «Death to Cupid» (2015).</p>

						<img src="/assets/img/articles/alph2.jpg">


						<p>В то же время Михай Месерош продолжал выступать в цирке и даже подружился с Майклом Джексоном,. Михая часто видели в обществе короля поп-музыки и его детей в поместье Майкла Джексона Neverland Ranch. Несмотря на то, что этот артист так и не получил ни одной кинонаграды, его именем названа самая короткая улица города Хоторн, что недалеко от Лос-Анджелеса.</p>

						<p>Менеджер Михая Деннис Варгас запустил сбор средств для оплаты больничных услуг и похорон артиста на портале GoFundMe, так что у вас есть возможность отдать дань уважения этому маленькому актеру, которого вы не знали.</p>
				.article#elon
					h3.article__title «Мы уже киборги», — заявил Илон Маск на конференции Code Conference 2016
					p.article__date 03 июня 2016
					.article__content.
						<p>Инженер, миллиардер и просто харизматичный парень Илон Маск заявил, что люди уже сейчас отчасти являются киборгами. И в будущем мы должны быть готовы стать домашними питомцами роботов-повелителей. Крамольное заявление прозвучало со сцены конференции Code Conference 2016, которая с 31 мая по 2 июня прошла Калифорнии.</p>


						<p>«Мы уже киборги. У нас есть виртуальная копия себя, электронная личность, которая частично хранится в почте или личной переписке, а также во всем, что мы делаем в интернете. У нас больше власти, чем у президента 20 лет назад. Найти ответ на любой вопрос, начать моментальную конференцию или связаться разом с миллионами людей. Это просто невероятные вещи»</p>

						<img src="/assets/img/articles/tesla.jpg">

						<p>Также американско-канадский прорицатель заявил, что людям необходимо создать комьютеры, связанные с корой головного мозга:</p>

						<p>«Такая связь с виртуальностью представляется мне инъекциями, через которые электроника будет соединяться с живыми нейронами. Так компьютер сможет взаимодействовать с деятельностью человеческого мозга. В противном случае, мы будем настолько ниже роботов в интеллектуальном плане, что станем их домашними питомцами. Они будут относиться к нам, как сейчас люди относятся к домашней кошке»</p>

						<p>Помимо этого создатель космической компании SpaceX и электромобилей Tesla высказался на счет видеоигр:</p>

						<p>«Все точно идет к тому, что игры перестанут отличаться от реальности. Доступ к ним будет открыт в любое время. Мы либо самостоятельно создадим виртуальную реальность, либо уже сейчас являемся частью чьей-то симуляции. И это неизбежно. Развитие цивилизации подразумевает данный шаг и остановить этот процесс может только глобальный катаклизм, гибель»</p>

						<p>Полное выступление Илона Маска состоялось на Code Conference 2016 — ежегодной конференции о влиянии технологий на жизнь людей. Посмотреть его можно например <a href="https://youtu.be/tV8EOQNYC-8?list=PLKof9YSAshgyPqlK-UUYrHfIQaOzFPSL4">здесь</a>.</p>

		include common/_footer
