include common/_mixins
doctype html
html(lang="ru")
	include common/_head
	body
		include common/_preloader
		include common/_popup

		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->

		include common/_sprites

		+parallax("vertical")
		+main-menu(1)

		header.header.table-box
			.table-box__row
				+header-top
			.table-box__row.table-box__row_fullheight
				.table-box__vertical-aligned
					.site-author
						+avatar("avatar_sq.jpg", "Frontend. Wordpress. Разработка сайтов под ключ.", "Лембинен Николай")
						p.site-author__name Лембинен Николай
						p.site-author__description Личный сайт веб разработчика

					svg.header__svg-bg
						use(xlink:href="#icon-portfolio_header")
					button.go-down.fa.fa-chevron-down(data-link=".portfolio-slider")

					svg.header__svg-corner(preserveAspectRatio="none" viewBox="0 0 2000 400")
						use(xlink:href="#icon-bg")
			.table-box__row
				.header__title
					+svg-heading("Мои работы", "icon-works_header")

		//- SLIDER START
		section.portfolio-slider
			.portfolio-slider__module.portfolio-slider__preview-container
				img.portfolio-preview.active(src="/assets/img/works/unspoken.png" alt="Unspoken World Magazine")
				img.portfolio-preview(src="/assets/img/works/myspace.png" alt="MySpace 1.0")
				img.portfolio-preview(src="/assets/img/works/alpha.png" alt="Alpha Capital Education")
				img.portfolio-preview(src="/assets/img/works/karakalpakiya.png" alt="Karakalpakiya.ru")
				img.portfolio-preview(src="/assets/img/works/bringcar.png" alt="Bringcar.ru")

			.portfolio-slider__module.portfolio-slider__projects-container
				.portfolio-projects
					.project.active
						.project__inner
							h3.sidestripes.project__title Unspoken World Magazine
							p.project__tech WordPress, Fullpage, PHP, Sass, Jquery
							a(href="http://unspoken-world.com/", target="_blank").project__link Посмотреть сайт
					.project
						.project__inner
							h3.sidestripes.project__title Myspace 1.0 профили
							p.project__tech Pure oldschool CSS and HTML
							button.project__link Давно и неправда
					.project
						.project__inner
							h3.sidestripes.project__title Перенос дизайна с Wix на WP
							p.project__tech Wix to html, WordPress
							a(href="http://alpha.unspoken-world.com/", target="_blank").project__link Посмотреть сайт
					.project
						.project__inner
							h3.sidestripes.project__title Портал Karakalpakiya.ru
							p.project__tech Wordpress, Bootstrap, PHP, Sass, Jquery
							a(href="http://karakalpakiya.ru/", target="_blank").project__link Посмотреть сайт
					.project
						.project__inner
							h3.sidestripes.project__title Лэндинг компании Bringcar
							p.project__tech Bootstrap, Sass, Jquery, Animate.css, Schema.org
							a(href="http://bringcar.ru/", target="_blank").project__link Посмотреть сайт

			.portfolio-slider__module.portfolio-slider__navigation-container

				.navigation-box.navigation-box_prev
					button.portfolio-button.portfolio-button_prev
						span.fa.fa-chevron-down

					.portfolio-thumbnails
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/unspoken.png", alt="Unspoken World Magazine")
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/myspace.png", alt="MySpace")
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/alpha.png", alt="Alpha Capital Education")
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/karakalpakiya.png", alt="Karakalpakiya")
						.portfolio-thumbnails__thumbnail.active
							img(src="/assets/img/works/bringcar.png", alt="Bringcar")

				.navigation-box.navigation-box_next
					button.portfolio-button.portfolio-button_next
						span.fa.fa-chevron-up

					.portfolio-thumbnails
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/unspoken.png", alt="Unspoken World Magazine")
						.portfolio-thumbnails__thumbnail.active
							img(src="/assets/img/works/myspace.png", alt="MySpace")
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/alpha.png", alt="Alpha Capital Education")
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/karakalpakiya.png", alt="Karakalpakiya")
						.portfolio-thumbnails__thumbnail
							img(src="/assets/img/works/bringcar.png", alt="Bringcar")
		//- SLIDER END


		section.talks.last-section
			+svg-heading("Что обо мне говорят", "icon-about_header", h2)
			.talks__wrapper
				.testimonial
					blockquote.testimonial__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
					.testimonial__author.author
						+avatar("dima.png", "Сооснователь школы Loftschool", "Ковальчук Дмитрий")
						.author
							p.author__name Ковальчук Дмитрий
							p.author__description сооснователь Loftschool

				.testimonial
					blockquote.testimonial__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
					.testimonial__author
						+avatar("zar.png", "Главный преподаватель Loftschool", "Зар Захаров")
						.author
							p.author__name Зар Захаров
							p.author__description главный преподаватель

			.contact-form
				form#contact(novalidate)
					.contact-form__bg
					.contact-form__content
						h3.contact-form__heading.sidestripes Связаться со мной
						input.contact-form__field(type="text" name="name" placeholder="Имя" required data-check="username")
						input.contact-form__field(type="email" name="email" placeholder="Email" required data-check="email")
						textarea.contact-form__field.contact-form__field_textarea(name="message" placeholder="Ваше сообщение (10 и более символов)" required data-check="text")

					ul.form-buttons
						- var buttons = {"Отправить" : "form-submit", "Очистить" : "form-clear"}
						each b_action, b_name in buttons
							li.form-buttons__button.form-buttons__button_even
								button(class="form-buttons__button-content", id=b_action)= b_name

		include common/_footer
