// =================================
// Chris Coyier border-box reset
// =================================
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit



// =================================
// Page init
// =================================
html,
body
	height: 100%
	min-width: 320px
	position: relative
	font-size: 100%
	font-family: "Roboto_medium", sans-serif

ul,
li
	list-style: none
	list-style-type: none
	margin: 0
	padding: 0

img
	max-width: 100%


// =================================
// Background and flex init
// =================================
.admin-page
	height: 100%
	display: flex
	flex-direction: column
	background-image: url("/assets/img/theme_mountains/parallax_mobile.png")
	background-position: center bottom
	background-size: cover
	background-repeat: no-repeat



// =================================
// Header
// =================================
.header
	background-color: $maincolor
	padding: 30px
	display: flex
	align-items: center
	flex-wrap: wrap
	font-family: "roboto_medium", sans-serif
	+media(xs)
		flex-direction: column-reverse
		justify-content: center
	&__title-wrapper
	&__title
		color: $white
		font-size: em(28)
		font-weight: normal
		margin: 0
		+media(s)
			font-size: em(18)
		+media(xs)
			margin-top: 20px
	&__link-wrapper
		margin-left: auto
		+media(xs)
			margin-left: 0
	&__link
		color: $white
		font-size: em(16)
		margin-left: 30px
		&:first-child
			margin-left: 0



// =================================
// Tabs
// =================================
.tabs-control
	display: flex
	background-color: $pastel
	&__item
		flex-basis: 160px
		text-transform: uppercase
		color: $text-color
		padding: 20px
		text-align: center
		border-right: 2px solid $white
		cursor: pointer
		transition: background-color $transition-time_medium
		&:hover
			background-color: rgba($white, .5)
		&.active
			background-color: $white

.tabs-content
	flex: 1
	background-color: rgba($white, .8)
	position: relative
	overflow-y: scroll
	overflow-x: hidden
	&__item
		padding: 30px
		position: absolute
		display: none
		width: 100%
		&.active
			display: block



// =================================
// Tabs inner
// =================================
.form
	&__heading
		font-size: em(21)
		line-height: 1.5
		margin: 0
		color: $text-color
	&__subtitle
		font-size: em(16)
		margin-top: 30px
		color: $text-color
	&__field
		border: 0
		border-radius: $border-radius_admin
		padding: 10px 15px
		margin-top: 10px
		width: 300px
		display: block
		+media(xs)
			width: 100%
		&_file
			display: none
		&_image-preview
			background-color: $white
			height: 150px
			position: relative
			text-align: center
			img
				position: relative
				max-height: 100%
			.fa
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%,-50%)
				font-size: em(24)
				color: $text-color
	&__button
		background-color: $maincolor
		border: none
		display: block
		border-radius: $border-radius_admin
		color: $white
		padding: 10px 15px
		margin-top: 30px
		cursor: pointer

.file-label
	color: $maincolor
	display: inline-block
	margin-top: 10px
	vertical-align: middle
	padding: 10px 0 15px 50px
	background-image: url("/assets/img/theme_mountains/upload_image.png")
	background-repeat: no-repeat
	background-position: left center
	background-size: 40px 40px
	cursor: pointer

.mce-tinymce
	margin-top: 10px !important
	overflow: hidden !important
	border: none !important
	border-radius: $border-radius_admin !important
	max-width: 600px !important


// =================================
// Skills lists
// =================================
.skills
	display: flex
	flex-wrap: wrap
	&__heading
		font-size: em(16)
		font-weight: bold
		margin-top: 10px
		padding: 5px 0
		color: $text-color
		border: 2px inset transparent
		background: none
		border-radius: $border-radius_admin
		transition: all $transition-time
		cursor: pointer
		&:focus
			cursor: text
			outline: none
			border-color: $gray_light
			background: $white
			padding: 5px 5px
	&__block
		width: 33.33333%
		padding: 10px 2px
		border-radius: $border-radius_admin
		border: 1px dashed transparent
		position: relative
		transition: border-color $transition-time, background-color $transition-time
		+media(m)
			width: 50%
		+media(s)
			width: 100%
			padding: 10px 0
		&:hover
			background-color: rgba($white, .5)
			.skills__remove
				visibility: visible
		&_new
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			font-size: em(40)
			color: $maincolor
			&:hover
				border-color: $maincolor
				cursor: pointer
	&__list
		width: 100%
	&__remove
		position: absolute
		right: 10px
		top: 20px
		cursor: pointer
		visibility: hidden
		font-size: em(26)
		transition: color $transition-time
		&:hover
			color: $error-color

.skill
	margin-top: 10px
	width: 100%
	display: flex
	align-items: center
	font-family: "roboto_regular", sans-serif
	+media(s)
		margin-top: 20px
	&__name
		color: $text-color
		width: 50%
		margin-left: 4%
		padding: 5px
		vertical-align: middle
		border: 2px inset transparent
		background: none
		border-radius: $border-radius_admin
		transition: all $transition-time
		cursor: pointer
		+media(xs)
			width: 55%
			margin-left: 0
		&:focus
			cursor: text
			outline: none
			border-color: $gray_light
			background: $white
	&__percentage
		width: 18%
		margin: 0 1%
		padding: 10px 5px
		border: 0
		text-align: right
		border-radius: $border-radius_admin
		+media(s)
			width: 15%
		+media(xs)
			width: 25%
	&__misc
		position: relative
		display: block
		+media(xs)
			width: 15%
			text-align: center
	&__percent-sign
		padding: 0 5px
	&__remove
		text-align: center
		color: $white
		width: 30px
		height: 30px
		line-height: 28px
		background-color: $text-color
		border-radius: 50%
		cursor: pointer
		transition: all $transition-time
		+media(xs)
			position: absolute
			left: 50%
			top: 50%
			margin-top: -15px
			margin-left: -15px
		&:hover
			background-color: $error-color
	&__new
		font-size: em(20)
		font-family: "FontAwesome"
		justify-content: center
		padding: 5px
		cursor: pointer
		color: $text-color
		transition: color $transition-time
		border: 1px dashed $text-color
		border-radius: $border-radius_admin
		margin: 10px auto
		width: 90%
		&:hover
			color: $maincolor