
.fullheight
	height: 100%
	min-height: 650px
	overflow: hidden

.column
	&_half
		width: 50%
		float: left

.works
	.container
		height: 100%
	.column_half
		height: 100%
		display: table
	.vertical-aligned
		height: 100%

	.slider
		height: 100%
		overflow: hidden
		&__current
			height: 70%
			float: left
			display: table
			width: 100%
			img
				width: 100%
		&__nav
			height: 30%
		&__previous,
		&__next
			width: 50%
			float: left