.author-name
	font-family: "roboto_medium"
	font-size: em(35)
	line-height: 1
	margin: 30px auto 10px
	color: $white
.author-desctiption
	font-family: "roboto_light"
	font-size: em(16)
	line-height: 1
	margin: 0
	color: $white
	opacity: .8
.go-down
	color: $white
	font-size: em(26)
	opacity: .7
	position: absolute
	z-index: 1
	bottom: 20px
	left: 50%
	transform: translateX(-50%)

.header
	position: relative
	.social-links
		float: left
	.menu-button
		float: right
	.avatar
		border: 4px solid $white
	&__svg-corner
		position: absolute
		width: 100%
		height: 200px
		bottom: -100px
		left: 0
		right: 0
		fill: $pastel_dark
	&__title
		background-color: $pastel_dark

