// Chris Coyier border-box reset
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

// Page init
html,
body
	height: 100%
	position: relative
	font-size: 100%
	font-family: "Roboto_medium", sans-serif

.preloader
	display: none