// =================================
// Chris Coyier border-box reset
// =================================
html
	box-sizing: border-box

*, *:before, *:after
	box-sizing: inherit

// =================================
// Page init
// =================================
html,
body
	height: 100%
	// min-width: 320px
	position: relative
	font-size: 100%
	font-family: "Roboto_medium", sans-serif

.preloader
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
	z-index: 10
	background-image: url("../img/theme_mountains/preloader.gif")
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

.no-js
	.preloader
		display: none


// =================================
// Typography
// =================================
h1, h2, h3, h4, h5, h6
	font-family: "bernier_regular", sans-serif
	color: $text-color
	line-height: 1
	font-weight: normal
	margin: 0

h1
	font-size: em(63,16)
	line-height: 1.5em

h2
	font-size: em(35,16)

h3
	font-size: em(26,16)

h4, h5, h6
	font-size: em(20,16)

// =================================
// Text header style
// =================================
.sidestripes
	&::before,
	&::after
		content: ""
		position: relative
		height: 5px
		width: 22px
		display: inline-block
		vertical-align: middle
		background-color: $gray_light
	&::before
		// right: 100%
		margin-right: 20px
	&::after
		// left: 100%
		margin-left: 20px

.double_sidestripes
	position: relative
	display: inline-block
	margin: 0 0 50px
	text-transform: uppercase
	max-width: 80%
	&::before,
	&::after
		content: ""
		position: absolute
		height: 6px
		background-color: transparent
		border-top: 2px solid $text-color
		border-bottom: 2px solid $text-color
		top: 42%
		width: 20px
	&::before
		right: 100%
		margin-right: 15px
	&::after
		left: 100%
		margin-left: 15px