/* ============================ */
/* :: Desktop First Method :: */
/* ============================ */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.welcome-page
		&__header
			text-align: center
	.copyright
		&:first-child
			display: block
		&_slogan
			&::before
				display: none

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

