// =================================
// Colors
// =================================
$maincolor: #08b09d
$white: #fff
$white_matte: #fcfcfc
$text-color: #455a64



// =================================
// Timings
// =================================
$transition-time: .3s
$transition-time_medium: .7s
$transition-time_slow: 1.5s