// =================================
// Colors
// =================================
// $maincolor: #08b09d
$maincolor: #00bfa5
$stripes-color: #373e42
$text-color: #455a64

$thumb-overlay-color_prev: #b6b4ae
$thumb-overlay-color_next: #888372


$white: #fff
$white_matte: #fcfcfc
$black: #000

$row-color: #f1f1f2 // blog article row

$pastel: #f0efe9
$pastel_dark: #efebe0
$pastel_light: #faf8f0

$gray: #c4cbcd
$gray_light: #d0d2d2

$error-color: #D22E2E
$valid-color: #34A853
$focus-color: #028197

// =================================
// Timings
// =================================
$transition-time: .3s
$transition-time_fast: .2s
$transition-time_medium: .7s
$transition-time_slow: 1.5s



// =================================
// Measurement
// =================================
$border-radius: 10px
$border-radius_admin: 5px

$footer-height: 440px
$footer-height_small: 550px
$footer-height_xsmall: 640px