// =================================
// Colors
// =================================
// $maincolor: #08b09d
$maincolor: #00bfa5

$text-color: #455a64


$white: #fff
$white_matte: #fcfcfc

$pastel: #f0efe9
$pastel_dark: #efebe0
$pastel_light: #faf8f0

$gray: #c4cbcd
$gray_light: #d0d2d2



// =================================
// Timings
// =================================
$transition-time: .3s
$transition-time_fast: .2s
$transition-time_medium: .6s
$transition-time_slow: 1.5s